*,
*::before,
*::after{
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

html{
    box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif;
    line-height: 1.5;
    min-height: 100vh;
    background: #005AA7;  /* fallback for old browsers */
background: -webkit-linear-gradient(to bottom right, #FFFDE4, #005AA7);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to bottom right, #FFFDE4, #005AA7); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
display: flex;
align-items: center;
justify-content: center;
}

button{
    background-color: none;
    border: none;
    cursor: pointer;
}

.icon{
    width: 2.5rem;
    height: 2.5rem;
}

.fas{
    cursor: pointer;
}

.phone{
    box-sizing: content-box;
    width: 300px;
    height: 500px;
    background-color: white;
    border: 1rem solid rgb(26, 24, 24);
    border-radius: 2rem;
    border-bottom: 3.3rem solid rgb(26, 24, 24);
    position: relative;
    

    .buttons{
        width: 10px;
        height: 40px;
        position: absolute;
    }

    .button1{
        top: 80px;
        right: -20px;
        background-color: rgb(26, 24, 24);
        border-top-right-radius:5px;
        border-bottom-right-radius: 5px;
    }

    .button2{
        top: 130px;
        height: 25px;
        right: -20px;
        background-color: rgb(26, 24, 24);
        border-top-right-radius:5px;
        border-bottom-right-radius: 5px;
    }

    .button3{
        width: 35px;
        height: 35px;
        background-color: transparent;
        border: 1px solid white;
        border-radius: 50%;
        bottom: -44px;
        left: 50%;
        transform:translateX(-50%);
        display: flex;
        justify-content: center;
        align-items: center;
        &::before{
            content:"";
            display: block;
            width: 15px;
            height: 15px;
            background-color: transparent;
            border: 1px solid white;
        }
    }
}

.screen{
    display: flex;
    flex-direction: column;
    height: 100%;
    border-top-right-radius: 2rem;
    border-top-left-radius: 2rem;
    background-color: white;
    overflow: hidden;
    & > *:not(:last-child){
        border-bottom: 1px solid gray;

    }
}


.status{
    height: 15px;
    padding: 0.5rem;
    display: flex;
    align-items: center;
    background-color: white;

    & > *{
        margin:0 0.1rem;
    }

    .fa-clock{
        margin-left: auto;
    }
}

.app{
    flex: 1;
    display: flex;
    flex-direction: column;
    position: relative;
    & > *{
        
        transition: transform 500ms ease-in-out;
    }

    &__head{
        padding: 0.2rem;
        display: flex;
        align-items: center;
        background-color: white;
        z-index: 10;
        & > *{
            margin: 0 0.4rem;
        }
        color: blue;
        box-shadow: 0 2px 1rem rgba(black,0.2);
    }

    &__user{
        width: 40px;
        height: 40px;
        border-radius: 50%;
    }

    &__username{
        margin-right: auto;
        color: black;
    }


    &__message{
        // margin-top: 15rem;
        text-align: left;
        font-size: 0.8rem;
        padding: 0.5rem;
        overflow-y: scroll;
        overflow-x: hidden;
        height: 359px;
        // display: flex;

    

    
        .fa-check{
            display: block;
            box-sizing: content-box;
            margin-left: auto;
            background-color:gray;
            border-radius: 50%;
            width: 10px;
            height: 10px;
            color: white;
            border: 2px solid gray;
        }
    }

    &__text{
        width: max-content;
        max-width: 70%;
        border-radius: 1rem;
        color: white;
        padding: 0.5rem;
        margin-bottom: 0.5rem;
        margin-left: auto;
        position: relative;
        background-color: blue;
        word-break: break-all;        
       &:first-child{
            opacity: 0;
        }
    }

    &__whitespace{
        flex: 1;
    }
}

.back{
    cursor: pointer;
    color: blue;
    background-color: transparent;
}

.actions{
    height: min-content;
    padding: 0.3rem;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    color: blue;
    font-size: 1.2rem;
    z-index: 4;
    transition: transform 500ms ease-in-out;

    & > *{
        margin: 0 0.3rem;
    }

    &__message{
        width: 150px;
        padding: 0.4rem;
        font-family: inherit;
        border-radius: 1rem;
        border: none;
        border: 1px solid gray;

    }

    &__send{
        transition: transform 300ms;
        color: blue;
        font-size: 1.2rem;
        background-color: transparent;
        &:hover{
            transform: scale(1.1);
        }
    }
}


.nav{
    position: absolute;
    bottom: 0;
    height: 40px;
    width: 100%;
}


.new-screen{
    position: absolute;
    width: 300px;
    height: 100%;
    background-color: white;
    top: 0;
    left: 0;
    z-index: 100;
    transform: translateX(-100%);
    transition: transform 500ms ease-in-out;
    background-image: url(/day.jpg);
    background-size: cover;
    border-bottom-left-radius: 0;
    padding: 1rem;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 1rem;
    place-items: center;
    align-content: start;
    box-sizing: border-box;
}



.program{
    box-sizing: content-box;
    background-color: rgba(white,0.7);
    width: 4rem;
    padding: 0.5rem;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: transform 400ms;
    cursor: pointer;
    &__name{
        font-size: 0.6rem;
    }


    &:hover{
        transform:scale(1.1);
    }
}